/* Darkest Grey: #1e1e1e */
/* Dark Grey: #272727 */
/* Green: #91d883 */
/* Yellow: #d5e68f */

html, body {
    font-size: 62.5%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 5rem;

    background: #161616 url('../images/bg-pattern.png') repeat top left;
    color: #eee;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
}

a {
    color: #91d883;
    font-weight: bold;
    text-decoration: none;
}

p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: justify;
}

.qu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;

    background: #000;
    border-bottom: solid 3px #91d883;
    color: #91d883;
    font-family: 'Poiret One', sans-serif;
    font-size: 2.4rem;
    line-height: 2.4rem;
    opacity: 0.0;
    text-align: center;
    transition: opacity 0.3s ease-out;
}

.qu-header.qu-header--visible {
    opacity: 1.0;
}    

.qu-section {
    display: flex;
    flex-direction: column;
}

.qu-section-title {
    color: #d5e68f;
    font-size: 4rem;
    margin-top: 2rem;
    padding-top: 2rem;
}

.qu-section-title h1 {
    margin: 0;
}

.qu-section-title.qu-section-title--header {
    color: #91d883;
    font-size: 6rem;
}

.qu-section-content {
    border-top: 3px solid #1d1d1d;
    margin-top: 2rem;
    padding-top: 2rem;
}

.qu-section:first-of-type .qu-section-title,
.qu-section:first-of-type .qu-section-content {
    border: none;
    margin-top: 0;
    padding-top: 0;
}

.qu-content-title {
    color: #91d883;
}

.qu-button {
    background: #91d883;
    border-radius: 5px;
    color: #1e1e1e;
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem;
    padding: 1rem 3rem;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
}

.qu-button:hover {
    background: #539446;
}    

.qu-logo {
    float: right;
    margin-left: 3rem;
    max-width: 8rem;
}

@media (min-width: 50rem) {
    .qu-logo {
        max-width: 12rem;
    }

    .qu-section {
        flex-direction: row;
    }

    .qu-container-bios {
        flex-direction: row;
    }
    
    .qu-section-title {
        font-size: 3vw;
        text-align: right;
        width: 30vw;
    }

    .qu-section-title.qu-section-title--header {
        font-size: 4vw;
    }
    
    .qu-section-content {
        margin-left: 6rem;
        width: 100%;
    }
}