body {
    background: #F2E4D3;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

img {
    max-width: 100%;
}

a {
    position: relative;
}

a:link,
a:visited {
    color: #7A1B0D;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

a:focus:after,
a:hover:after {
    border-bottom: 2px solid #7A1B0D;
    bottom: -4px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    color: #E28D40;
    font-family: 'Poiret One', sans-serif;
    margin: 20px 0;
    text-align: center;
}

h1 {
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

p {
    margin-bottom: 18px;
}

form {
    width: 100%;
}

input,
textarea,
button,
.qu-button {
    background: #E3CFB8;
    border: 0;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 20px;
}

input:focus,
textarea:focus {
    outline: 2px solid #7A1B0D;
}

button,
.qu-button {
    background: #7A1B0D;
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 10px 20px;
    transition: background .1s ease-out;
}

button,
.qu-button,
.qu-button:link,
.qu-button:visited {
    color: #F2E4D3;
}

button:hover,
button:focus,
.qu-button:hover,
.qu-button:focus {
    background: #AB301E;
}

.qu-button:hover:after,
.qu-button:focus:after {
    border-width: 0;
}

.qu-button:focus,
button:focus {
    outline: 2px solid #E3CFB8;
}

input::placeholder,
textarea::placeholder {
    font-style: italic;
    color:rgba(122, 27, 13, 0.5);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    font-style: italic;
    color: rgba(122, 27, 13, 0.5);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    font-style: italic;
    color: rgba(122, 27, 13, 0.5);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-style: italic;
    color: rgba(122, 27, 13, 0.5);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-style: italic;
    color: rgba(122, 27, 13, 0.5);
}

blockquote {
    border-left: 2px solid rgba(122, 27, 13, 0.5);
    font-style: italic;
    margin: 0 30px 18px;
    padding-left: 30px;
}

hr {
    display: none;
}

.qu-banner {
    align-items: center;
    display: flex;
    background: url('../images/banner-home.jpg') center center;
    background-size: cover;
    box-sizing: border-box;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.qu-banner--hero {
    align-items: stretch;
    height: 100vh;
}

.qu-banner,
.qu-banner h1,
.qu-banner h2,
.qu-banner h3,
.qu-banner h4,
.qu-banner h5 {
    margin-top: 0;
    color: #F2F2F2;
}

.qu-banner-header {
    align-items: center;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qu-banner-header .qu-nav-link:link,
.qu-banner-header .qu-nav-link:visited {
    color: #F2F2F2;
    margin: 0 25px;
}

.qu-banner-header .qu-nav-link:focus:after,
.qu-banner-header .qu-nav-link:hover:after {
    border-color: #F2F2F2;
}

.qu-header-logo,
.qu-footer-logo {
    width: 40px;
    height: 40px;
    position: relative;
    top: 2px;
}

.qu-header-logo {
    margin-right: 10px;
}

.qu-header-title {
    align-items: center;
    display: flex;
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 10px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.qu-banner-title {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.qu-banner-fallcast {
    height: auto;
    margin: 0 auto 35px;
    width: 580px;
}

.qu-banner-arrow {
    animation: arrow-bounce infinite alternate 1.2s ease-in-out;
}

.qu-banner-arrow img {
    width: 75px;
    height: auto;
}

.qu-section {
    margin: 0 auto;
    max-width: 900px;
    padding: 18px;
}

.qu-footer {
    background: url('../images/wool.png') repeat top left;
    padding: 18px;
}

.qu-footer-content {
    align-items: center;
    background: url('../images/wool.png') repeat top left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
}

.qu-footer,
.qu-footer a:link,
.qu-footer a:visited {
    color: #BFBFBF;
}

.qu-footer a:focus:after,
.qu-footer a:hover:after {
    border-width: 0;
}

.qu-footer-copyright {
    flex: 1;
}

.qu-footer-logoLink {
    height: 40px;
}

.qu-footer-links {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.qu-footer-icon {
    height: 35px;
    width: auto;
}

.qu-footer-iconLink {
    display: inline-block;
    height: 35px;
    margin-left: 18px;
}

.qu-footer-iconLink:first-child {
    margin-left: 0;
}

.qu-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qu-form-group input {
    flex: 1;
    margin: 0 0 18px;
}

.qu-tiles-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qu-tiles-row:first-child {
    margin-top: 0;
}

.qu-tile {
    align-items: center;
    background: black;
    box-sizing: border-box;
    color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    min-height: 150px;
    margin: 10px auto;
    max-width: 440px;
    padding: 20px;
    width: 100%;
}

.qu-tile--injury {
    background: #5E361F;
}

.qu-tile--hip {
    background: #5C211D;
}

.qu-tile--brain {
    background: #5D2C35;
}

.qu-tile--fear {
    background: #4B3261;
}

.qu-tile-icon {
    font-family: 'Poiret One', sans-serif;
    font-size: 4em;
    line-height: 80%;
    margin-right: 20px;
}

.qu-tile-icon img {
    max-width: 100px;
}

.qu-blog-article {
    border-bottom: 2px solid #7A1B0D;
}

.qu-blog-article:last-child {
    border-bottom: 0;
}

.qu-blog-article--loaded {
    animation: blog-fade-in 1s ease-out;
}

figure {
    margin: 30px 0;
}

figcaption,
.qu-blogPost-author {
    font-style: italic;
    text-align: center;
}

.qu-blogPost-footer {
    margin: 40px 0 30px;
    text-align: center;
}

@keyframes blog-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes arrow-bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(5px);
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 64px;
        line-height: 75px;
    }
    
    h2 {
        font-size: 48px;
        line-height: 56px;
    }

    .qu-banner-header {
        flex-direction: row;
    }

    .qu-banner-header .qu-nav-link:link,
    .qu-banner-header .qu-nav-link:visited {
        margin-left: 50px;
    }

    .qu-banner-header .qu-nav-link:first-child {
        margin-left: 0;
    }

    .qu-banner-title {
        font-size: 32px;
        line-height: 38px;
    }

    .qu-footer-content {
        flex-direction: row;
    }
    
    .qu-form-group {
        flex-direction: row;
    }
    
    .qu-form-group input {
        margin: 0 8px 0 0;
    }
    
    .qu-tiles-row {
        flex-direction: row;
        margin-top: 20px;
    }

    .qu-tile {
        margin: 0 10px;
    }

    .qu-tile:first-child {
        margin-left: 0;
    }
    
    .qu-tile:last-child {
        margin-right: 0;
    }
}
