extends ../../layouts/main.pug

block variables
    - var title = "About Us"
    - var description = "About Quoralis, the creators of FallCast"
    - var heading = "Who is Quoralis?"
    - var path = "/about"

block content
    h1 The Company
    p We are Quoralis, a startup from Auckland, New Zealand, created as part of the C-Prize challenge in 2017. We are actively developing FallCast, a wearable solution which aims to prevent falls in our older population so that they may enjoy their golden years for longer.
    
    h2 Sheldon Nunes

    <img src="/images/sheldon.jpg" alt="Sheldon" class="qu-about-photo">
    
    p Sheldon is a software developer with a passion for improving people's lives. After his grandmother Olive had a fall, Sheldon started looking for ways to predict and prevent future falls. During this process Sheldon realised that this could be valuable not just for his grandmother but for other people too.
    
    p His experience developing software solutions in the medical field has exposed him to many of the processes for getting a medical device to market. He now applies his knowledge of hardware, software and artificial intelligence to develop FallCast, a system capable of predicting falls.

    a.qu-button(href="#" onclick="email(event, this, 'mailto:sheldon.nunes@quoralis.com')") Email

    h2 Nick Mertens

    img.qu-about-photo(src="/images/nick.jpg" alt="Nick")
    
    p &ldquo;I am a designer with a focus on UX and UI (user experience &amp; user interface) and I’ve got a soft spot for new technology, gadgets and how they can change the way you go through your day. I can help the team accomplish their goals by providing the customer with a great experience.
    
    p &ldquo;I have experience with web and mobile development, which will speed the design process along by speaking a similar technical language. My experience integrating mobile applications with medical devices has provided me with insight into the benefits of medical technology innovation and how a product like FallCast can enrich the lifestyle of technology users.&rdquo;

    a.qu-button(href="#" onclick="email(event, this, 'mailto:nick.mertens@quoralis.com')") Email
    | 
    a.qu-button(href="https://twitter.com/Cryptacular") Twitter
