extends ../../layouts/main.pug

block variables
    - var title = "About Us"
    - var description = "About Quoralis, the creators of FallCast"
    - var heading = "Who is Quoralis?"
    - var path = "/about"

block content
    h1 The Company
    p We are Quoralis, a startup from Auckland, New Zealand, created as part of the C-Prize challenge in 2017. We are actively developing FallCast, a wearable solution which aims to prevent falls in our older population so that they may enjoy their golden years for longer.
    
    h2 Sheldon Nunes

    <img src="/images/sheldon.jpg" alt="Sheldon" class="qu-about-photo">
    
    p Sheldon is a software developer with a passion for improving people's lives. After his grandmother Olive had a fall, Sheldon started looking for ways to predict and prevent future falls. During this process Sheldon realised that this could be valuable not just for his grandmother but for other people too.
    
    p His experience developing software solutions in the medical field has exposed him to many of the processes for getting a medical device to market. He now applies his knowledge of hardware, software and artificial intelligence to develop FallCast, a system capable of predicting falls.

    a.qu-button(href="#" onclick="email(event, this, 'mailto:sheldon.nunes@quoralis.com')") Email

    h2 Nick Mertens

    img.qu-about-photo(src="/images/nick.jpg" alt="Nick")
    
    p Nick is a developer and designer, with a focus on user experience. He's got a soft spot for technology, especially those that can change the way you live your life. Together with Sheldon, Nick co-founded Quoralis to work on FallCast, a perfect example of this kind of technology.

    p He's got experience with digital design as well as web and mobile development and will work closely with FallCast's users to create the best product for them.

    a.qu-button(href="#" onclick="email(event, this, 'mailto:nick.mertens@quoralis.com')") Email
    | 
    a.qu-button(href="https://twitter.com/Cryptacular") Twitter
