extends ../layouts/main.pug

block variables
    - var title = "404 Not Found"
    - var description = "Sorry, we couldn't find what you were looking for."
    - var heading = "404 Not Found!"
    - var subheading = "Sorry, we couldn't find what you were looking for."
    - var path = "/404"
