<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Quoralis: Our Blog</title>
  <meta name="description" content="Blog of the Creators of FallCast">
  <meta name="author" content="Quoralis">
  <meta name="theme-color" content="#161616" />
  
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css?v=1.2">

  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,700" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script src="/js/polyfills/promise.min.js"></script>
  <script src="/js/polyfills/fetch.min.js"></script>
</head>

<body>
    <section class="qu-banner qu-banner--hero">
        <div class="qu-banner-header" id="quHeader">
            <h1 class="qu-header-title">
                <img src="/images/logo-white.png" alt="" class="qu-header-logo" />
                Quoralis
            </h1>
            <nav class="qu-header-nav">
                <a class="qu-nav-link" href="/">FallCast</a>
                <a class="qu-nav-link" href="/blog">Blog</a>
                <a class="qu-nav-link" href="/about">About Us</a>
            </nav>
        </div>

        <div class="qu-banner-title">
            <h2>Welcome to our blog.</h2>
        </div>

        <div class="qu-banner-arrow">
            <img src="/images/leaf-arrow.png" alt="&darr;" id="quScrollArrow" />
        </div>
    </section>

    <section class="qu-section">
        <div id="blog" class="qu-blog">
            <div v-if="loading">
                <section class="qu-section">
                    <div class="qu-section-title">
                        <h1>Loading...</h1>
                    </div>
                    <div class="qu-section-content">
                        <p>One moment!</p>
                    </div>
                </section>
            </div>
            <div v-else v-for="post in posts" class="qu-blog-article qu-blog-article--loading" v-bind:class="{ 'qu-blog-article--loaded': !loading }">
                <section class="qu-section">
                    <div class="qu-section-title qu-section-title--small">
                        <h1 v-text="post.title[0]"></h1>
                        <p class="qu-blogPost-author">Author: <span v-text="post['dc:creator'][0]"></span></p>
                    </div>
                    <div class="qu-section-content">
                        <div class="qu-blog-post">
                            <div class="qu-blogPost-content" v-html="post['content:encoded'][0]"></div>
                            <div class="qu-blogPost-footer">
                                <a class="qu-button" v-bind:href="post.link[0]" target="_blank">Read on Medium</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="qu-banner qu-banner--dark">
        <div class="qu-section">
            <h1>Updates</h1>
            <p>Sign up for updates below to be the first to know as FallCast gets closer to launch, as well as occasional updates. No spam and your email address will not be shared with anyone, that’s a promise!</p>
            
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://quoralis.us17.list-manage.com/subscribe/post?u=cf5f59f8c820258fb30bdf359&amp;id=7b99786b1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="qu-form-group">
                        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required>
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="qu-button qu-button--orange">Subscribe</button>
                    </div>
                    <ul class="qu-list qu-list--horizontal" id="mce-TYPE">
                        <li>Please select:</li>
                        <li><input type="radio" value="65+" name="TYPE" id="mce-TYPE-0"><label for="mce-TYPE-0">65+</label></li>
                        <li><input type="radio" value="Family" name="TYPE" id="mce-TYPE-1"><label for="mce-TYPE-1">Family</label></li>
                        <li><input type="radio" value="Caregiver/Nurse" name="TYPE" id="mce-TYPE-2"><label for="mce-TYPE-2">Caregiver/Nurse</label></li>
                        <li><input type="radio" value="Retirement Village" name="TYPE" id="mce-TYPE-3"><label for="mce-TYPE-3">Retirement Village</label></li>
                    </ul>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cf5f59f8c820258fb30bdf359_7b99786b1e" tabindex="-1" value=""></div>
                </form>
                <div id="mce-responses" class="clear">
                    <div class="qu-mailchimpResponse qu-mailchimpResponse--error" id="mce-error-response" style="display:none"></div>
                    <div class="qu-mailchimpResponse qu-mailchimpResponse--success" id="mce-success-response" style="display:none"></div>
                </div>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </section>
    
    <footer class="qu-footer">
        <div class="qu-footer-content">
            <div class="qu-footer-copyright">© Copyright Quoralis 2018</div>
            <a href="/" class="qu-footer-logoLink">
                <img src="/images/logo-white.png" alt="Quoralis" class="qu-footer-logo" />
            </a>
            <div class="qu-footer-links">
                <a href="https://twitter.com/quoralis" target="_blank" class="qu-footer-iconLink">
                    <img src="/images/twitter.png" alt="Twitter" class="qu-footer-icon" />
                </a>
                <a href="https://medium.com/quoralis" target="_blank" class="qu-footer-iconLink">
                    <img src="/images/medium.png" alt="Medium" class="qu-footer-icon" />
                </a>
                <a href="https://www.linkedin.com/company/quoralis/" target="_blank" class="qu-footer-iconLink">
                    <img src="/images/linkedin.png" alt="LinkedIn" class="qu-footer-icon" />
                </a>
            </div>
        </div>
    </footer>
    
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/subscribe.js"></script>
    <script src="/js/ga.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/js/blog.js"></script>
</body>
</html>