extends ../../layouts/main.pug

block variables
    - var title = "Privacy Policy"
    - var description = "Quoralis Privacy Policy"
    - var heading = "Privacy Policy"
    - var path = "/privacy-policy"

block content
    h1 Quoralis Privacy Policy
    h2 Introduction
    p Quoralis Ltd. (
        b we, us, our
        | ) complies with the New Zealand Privacy Act 1993 (the 
        b Act
        | ) when dealing with personal information.  Personal information is information about an identifiable individual (a natural person).
    p
        | This policy sets out how we will collect, use, disclose and protect your personal information.
    p
        | This policy does not limit or exclude any of your rights under the Act.  If you wish to seek further information on the Act, see 
        a(href='http://www.privacy.org.nz') www.privacy.org.nz
        | .

    h2 Changes to this policy
    p We may change this policy by uploading a revised policy onto the website.  The change will apply from the date that we upload the revised policy.
    
    h2 Who do we collect your personal information from?
    p We collect personal information about you from:
    ul
        li
            | you, when you provide that personal information to us, including via the website and any related service, through any registration or subscription process, through any contact with us (e.g. telephone call or email), or when you buy or use our services and products
        li
            | third parties where you have authorised this or the information is publicly available.
    p If possible, we will collect personal information from you directly.  
    h2 How we use your personal information
    p We will use your personal information:
    ul
        li to market our services and products to you, including contacting you electronically (e.g. by text or email for this purpose)
        li to improve the services and products that we provide to you
        li to respond to communications from you, including a complaint
        li to conduct research and statistical analysis (on an anonymised basis)
    h2 Disclosing your personal information
    p We may disclose your personal information to:
    ul
        li
            | any business that supports our services and products, including any person that hosts or maintains any underlying IT system or data centre that we use to provide the website or other services and products
        li
            | a person who can require us to supply your personal information (e.g. a regulatory authority)
        li
            | any other person authorised by the Act or another law (e.g. a law enforcement agency)
        li any other person authorised by you.
    p
        | A business that supports our services and products may be located outside New Zealand.  This may mean your personal information is held and processed outside New Zealand.
    h2 Protecting your personal information
    p
        | We will take reasonable steps to keep your personal information safe from loss, unauthorised activity, or other misuse.
    h2 Accessing and correcting your personal information
    p
        | Subject to certain grounds for refusal set out in the Act, you have the right to access your readily retrievable personal information that we hold and to request a correction to your personal information.  Before you exercise this right, we will need evidence to confirm that you are the individual to whom the personal information relates.
    p
        | In respect of a request for correction, if we think the correction is reasonable and we are reasonably able to change the personal information, we will make the correction.  If we do not make the correction, we will take reasonable steps to note on the personal information that you requested the correction.
    p
        | If you want to exercise either of the above rights, email us at 
        a(href='mailto:info@quoralis.com') info@quoralis.com
        | .  Your email should provide evidence of who you are and set out the details of your request (e.g. the personal information, or the correction, that you are requesting).
    h2 Internet use
    p
        | While we take reasonable steps to maintain secure internet connections, if you provide us with personal information over the internet, the provision of that information is at your own risk.
    p
        | If you follow a link on our website to another site, the owner of that site will have its own privacy policy relating to your personal information.  We suggest you review that site’s privacy policy before you provide personal information.
    p
        | We use cookies (an alphanumeric identifier that we transfer to your computer’s hard drive so that we can recognise your browser) to monitor your use of the website.  You may disable cookies by changing the settings on your browser, although this may mean that you cannot use all of the features of the website.

